@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "bootswatch/dist/minty/bootstrap.min.css";

:root{
    --navbar-background-color: #7a011d !important;
    --text-color: hsl(207, 47%, 23%);
    --text-impact: rgb(122, 1, 29);
    --text-light: #ebf1f0;
}
.navbar .nav-link:hover {
    color: var(--text-impact) !important;
}

.navbar {
    height: 120px;
    display: flex;
    align-items: center;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,...");
}


.hero-wrapper {
    display: flex;
    width: 100%;
    height: 550px; /* puoi modificare */
    overflow: hidden;
}

.hero-img {
    width: 33.33%;
    object-fit: cover;
    height: 100%;
}

.shadow-wrapper {
    padding: 24px;
    box-shadow: 0 8px 40px rgba(122, 1, 29, 0.501);
    border-radius: 22px;
}

.glass-card {
    background: rgba(255,255,255,0.22);
    backdrop-filter: blur(15px) saturate(180%);
    -webkit-backdrop-filter: blur(15px) saturate(180%);
    border-radius: 14px;
    border: 1px solid rgba(255,255,255,0.3);
}

.no-overflow .carousel-inner,
.no-overflow .carousel-item {
    overflow: visible !important;
}





